<div class="pages">
    <h1>This is the About Page!</h1>
    <h2>Ruby Todo App <br>
    Create, Show, Edit, Destroy!</h2>
    <button class="new-todo">
    <%= link_to 'Create Something Todo', new_todo_path %>
</button>
</div>