<div class="new">
    <h1 id="heading-two">Create a New Todo!</h1>

    <%= render 'form' %>
        <div align="center">
            <button class="todos-btn"><%= link_to 'Back To Todos', todos_path %></button>
        </div>
</div>