<h1>Showing a new Todo</h1>

<p>
    Todo: <%= @todo.name %>
</p>
<p>
    What Todo: <%=  @todo.description %>
</p>

<%= link_to 'Edit this Todo', edit_todo_path(@todo) %> |
<%= link_to 'Back To Todo', todos_path %>