//@import "bootstrap-sprockets";
//@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Great+Vibes&family=Lobster&display=swap');



h1 {
    font-family: 'Great Vibes', cursive;
    margin-top: 60px;
    font-size: 40px;
    font-weight: bolder;
    color: red;
    text-align:center;
    text-shadow: 4px 4px 8px black ;
}

.new-todo {
    position: absolute;
    left: 42.5%;
    margin-top: 150px;
    width: 200px;
    height: 55px;
    background-color: orange;
    font-family: 'Courgette', cursive;
    font-size: 20px;
    color: black;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 2px 2px 3px 6px white;
}

.home {
    position: absolute;
    background-image: url('statueVinyard.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align:center;
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding: 0;
}

.home h1 {
    font-family: 'Great Vibes', cursive;
    margin-top: 60px;
    font-size: 130px;
    font-weight: bolder;
    color: red;
    text-shadow: 4px 4px 8px black ;
}

h2 {
    font-size: 60px;
    margin-top: 15px;
    font-family: 'Great Vibes', cursive;
    font-weight: bolder;
    color: orangered;
    text-shadow: 4px 4px 12px black ;
}

.new {
    position: absolute;
    background-image: url('smokey.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding: 0;
}

.pages {
   position: absolute;
    background-image: url('bigtree.jpg');
    background-repeat: no-repeat;
    background-size: cover;
     width: 100%;
    height: 100%;
    margin-top: 0;
    padding: 0;
}

.edit {
    position: absolute;
    background-image: url('nightSky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding: 0;
}

.pages h2 {
    text-align: center;
    color: orange;
    font-size: 30px;
    font-family: 'Courgette', cursive;
    text-shadow: 4px 4px 8px black ;
}

.border-box {
    border: 4px black;
    position: absolute;
    top: 23%;
    left: 43%;
    text-align: center;
    z-index: 3;
}

.todo-form {
    font-family: 'Courgette', cursive;
    font-size: 30px;
    font-weight: bolder;
    color: black;
    border: 4px black;
}

.edit-heading {
    font-size: 70px;
}

.submit-btn {
    position: absolute;
    width: 170px;
    height: 40px;
    color: black;
    background-color: green;
    border-radius: 8px;
    font-family: 'Courgette', cursive;
    left: 13%;
}

.current-todos {
    font-size: 20px;
    font-weight: bold;
    color: black;
    
}

.todos-btn {
    position: absolute;
    left: 44%;
    bottom: 5%;
    width: 200px;
    height: 50px;
    background-color: orange;
    font-family: 'Courgette', cursive;
    font-size: 20px;
    color: black;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 2px 2px 3px 6px white;
}

.new-todo-btn {
    position: absolute;
    left: 44%;
    top: 40%;
    width: 200px;
    height: 55px;
    background-color: orange;
    font-family: 'Courgette', cursive;
    font-size: 20px;
    color: black;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 2px 2px 3px 6px white;
}

.table-div th {
    font-family: 'Courgette', cursive;
    font-size: 20px;
    color: red;
    font-weight: bolder;
    text-shadow: 1px 1px 4px  black;
}

.table-div td {
    font-size: 15px;
    color: yellow;
    font-weight: bold;
    text-shadow: 1px 1px 4px  black;
}

.index-btn {
    width: 60px;
    height: 25px;
    background-color: orange;
    font-family: 'Courgette', cursive;
    font-size: 15px;
    color: black;
    font-weight: bold;
    border-radius: 6px;
    text-decoration: none;
    box-shadow: 1px 1px 1px 2px white;
}

.link-btn {
    width: 100px;
    height: 40px;
    background-color: orange;
    font-family: 'Courgette', cursive;
    font-size: 15px;
    margin-left: 20px;
    color: black;
    font-weight: bold;
    border-radius: 6px;
    text-decoration: none;
    box-shadow: 1px 1px 1px 2px white;
}

.todo-name {
    font-size: 35px;
    font-weight: bolder;
    font-family: 'Great Vibes', cursive;
    margin-left: 20px;
    text-shadow: 4px 4px 10px black;
    color: red;
}

.todo-description {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Courgette', cursive;
    text-shadow: 2px 2px 5px white;
    margin-left: 30px;
    color: black;
}

#heading-two {
    font-size: 80px;
    font-weight: bolder;
    font-family: 'Great Vibes', cursive;
    text-shadow: 5px 5px 12px black ;
    color: red;
}

.error-page {
    position: absolute;
    background: red;
    z-index: 10;
    border-radius: 10px;
    
    h2 {
        font-size: 40px;
        color: black;
        font-family: 'Courgette', cursive;
    }
    
    li {
        font-size: 25px;
        font-weight: bold;
        color: black;
        font-family: 'Courgette', cursive;
    }
}

